flask~=2.2.2
tensorflow~=2.11.0
matplotlib~=3.5.1
scipy~=1.8.0
keras~=2.11.0
Pillow~=9.1.0
numpy~=1.22.3
flask-cors
gunicorn

pip~=21.1.2
wheel~=0.36.2
Jinja2~=3.1.2
setuptools~=57.0.0
MIDIUtil~=1.2.1
opencv-python~=4.7.0.68
pytesseract~=0.3.10